@model IntakeQuestionnaire.Models.Register
@{
    ViewBag.Title = "Index";
}
<div id="topBar">
    <h1>Register </h1>
    <h3>Mennonite Centeral Committe KwaZulu Natal</h3>
</div>
<div id="Bottom">

</div>
<div id="RegestraionInfo">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "Regestration failed, make sure all fields are fulled in");
        <div>
            <fieldset>
                <div class="editor-label">
                    <b> @Html.LabelFor(u => u.UserName)</b>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(u => u.UserName)
                    @Html.ValidationMessageFor(u => u.UserName)
                </div>
                <div class="editor-label">
                    <b>@Html.LabelFor(u=>u.Email)</b>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(u=>u.Email)
                    @Html.ValidationMessageFor(u=>u.Email)
                </div>
                <div class="editor-label">
                    <b>@Html.LabelFor(u => u.Password)</b>
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(u => u.Password)
                    @Html.ValidationMessageFor(u => u.Password)
                </div>
                <div class="editor-label">
                    <b>@Html.LabelFor(u=> u.ConfirmPassword)</b>
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(u =>u.ConfirmPassword)
                    @Html.ValidationMessageFor(u=>u.ConfirmPassword)
                </div>
                
                <p><input id="btn1" type="submit" value="Register" /><form method="get" action="/Register"><input id="btn1" onclick="window.location.href='/Login_'" type="button" value="Back" /> </form></p>
            </fieldset>
        </div>
    }
</div>
<style>
    #btn1 {
        background-color: #0094ff;
        width: 80px;
    }

    #topBar {
        background-color: #808080;
        position: relative;
        top: -20px;
        left: -10px;
        height: 150px;
        width: 1380px;
    }

    #txt1 {
        color: #fffa03;
    }

    h1 {
        position: relative;
        top: 20px;
        left: 30px;
        color: white;
    }

    h3 {
        position: relative;
        top: 20px;
        left: 30px;
    }

    #logininfo {
        position: relative;
        left: 300px;
        top: 100px;
        width: 600px;
        height: 187px;
        border: 1px solid;
        background-color: #808080;
    }
</style>
